@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mukta:wght@500;600&display=swap");
.body {
  margin: 0px, 50px;
}

.home {
  padding: 5px 5px;
}

.landing{
  position: relative;
  display: grid;
  top: 82px;
  width: 100%;
}

.landingImage {
  z-index: 1;
  width: 100%;
}

.flex{
  z-index: 2;
  display: flex;
  flex-direction: row;
  background-color: #000000;
  position: relative;
  
  border-radius: 20px;
  margin: 0px 36% 0 36%;
  max-width: 600px;
  transform: translateY(-450px);
}

.landingText {
  z-index: 2;
  font-family: 'Mukta', sans-serif;
  font-style: normal;
  font-size: 44px;
  line-height: 100%;
  color: white;
  text-shadow: none;
  display: inline-block; 
  padding: 27px 10px 29px 33px;
  justify-content: center;
}

.landingArrow {
  text-shadow: none;
  position: relative;
  top: 35%;
  right: 2px;
  width: 30px;
  flex-shrink: 0;
  padding-right: 4px;
}


.vector{
  z-index: 2;
  align-items: center;
  padding: 20px;
  transform: translateY(-110%);
  margin-left: 50%;
  width:10%;
}


@media (max-width: 377px) {
  .vector{
    visibility: hidden;
  }
}

.landingIntro {
  margin: -130px 160px 20px 115px;
  font-family: 'Mukta', sans-serif;
  color: #373F41;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  font-size: 44px;
  padding: 5px 2px;
  text-align: left;
  left: calc(50% - 800.05px/2 - 204.98px);
    letter-spacing: -0.02em;
}

.paragraph {
  margin: 0px 160px 0px 115px;
  padding: 5px 2px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  left: calc(50% - 1165px/2 - 22.5px);
  color:#080D26;

  /* P1 */
  font-style:normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: justify;
}

.card {
  width: 527.08px;
  left: 97.05px;
  top: 1204px;
}
